In [1]:
import numpy as np
import pathlib
import math
import tqdm
import scipy.io
from matplotlib import pyplot as plt
import scipy.io
import h5py
import re
from lxml import etree as ET
import scipy.signal as sig
import pandas as pd
from scipy.stats import kde

from BlockSync_current import BlockSync
import UtilityFunctions_newOE as uf

In [2]:

block_numbers = [73,44]
bad_blocks = [42, 62, 64]
experiment_path = pathlib.Path(r"Z:\Nimrod\experiments")
animal = 'PV_62'
block_collection = uf.block_generator(block_numbers=block_numbers,
                                      experiment_path=experiment_path,
                                      animal=animal,
                                      bad_blocks=bad_blocks)

instantiated block number 044 at Path: Z:\Nimrod\experiments\PV_62\2023_05_02\block_044, new OE version
Found the sample rate for block 044 in the xml file, it is 20000 Hz
created the .oe_rec attribute as an open ephys recording obj with get_data functionality
retrieving zertoh sample number for block 044
got it!
instantiated block number 073 at Path: Z:\Nimrod\experiments\PV_62\2023_06_21\block_073, new OE version
Found the sample rate for block 073 in the xml file, it is 20000 Hz
created the .oe_rec attribute as an open ephys recording obj with get_data functionality
retrieving zertoh sample number for block 073
got it!

In [3]:
block = block_collection[1]
block

BlockSync object for animal PV_62 with
block_num 073 at date 2023-06-21_14-45-37

In [4]:


block.parse_open_ephys_events()
block.get_eye_brightness_vectors()
block.synchronize_block()
block.create_eye_brightness_df(threshold_value=20)

running parse_open_ephys_events...
block 073 has a parsed events file, reading...
getting eye brigtness values for block 073...
found a file!
blocksync_df loaded from analysis folder
eye_brightness_df loaded from analysis folder

,Unnamed: 0,Arena_TTL,Arena_frame,L_eye_frame,R_eye_frame,L_values,R_values
0,0,535485.0,620.0,0.0,3.0,2.691569,0.437768
1,1,535825.0,621.0,2.0,4.0,2.703165,0.438888
2,2,536165.0,622.0,2.0,5.0,2.703165,0.438476
3,3,536505.0,623.0,4.0,6.0,2.712409,0.439670
4,4,536845.0,624.0,5.0,7.0,2.718606,0.440992
...,...,...,...,...,...,...,...
66809,66809,23234151.0,67429.0,68221.0,68224.0,0.621974,0.258354
66810,66810,23234491.0,67430.0,68222.0,68225.0,0.628502,0.257536
66811,66811,23234831.0,67431.0,68223.0,68226.0,0.630381,0.260299
66812,66812,23235170.0,67432.0,68224.0,68227.0,0.630914,0.260789
66813,66813,23235510.0,67433.0,68225.0,68228.0,0.630239,0.260315

In [5]:
block.get_eyes_diff_list(threshold=1)
block.fix_eye_synchronization()
block.get_blink_frames_manual(threshold=2.5)

index error on position 40 out of 41
index error on position 37 out of 38
The suspected lag between eye cameras is -2.0 with the direction ['right', 'early']
created manual_sync_df attribute for the block
index error on position 27 out of 28
index error on position 27 out of 28

{'left': [17.0,
  3626.0,
  7234.0,
  7236.0,
  10843.0,
  14452.0,
  18060.0,
  21669.0,
  25278.0,
  28886.0,
  32495.0,
  36103.0,
  39712.0,
  43320.0,
  46929.0,
  50538.0,
  54146.0,
  57755.0,
  61363.0],
 'right': [15.0,
  2993.0,
  3624.0,
  7232.0,
  10841.0,
  14449.0,
  15346.0,
  18058.0,
  21667.0,
  25275.0,
  28884.0,
  32493.0,
  36101.0,
  39709.0,
  43318.0,
  46927.0,
  50535.0,
  54144.0,
  57752.0,
  59345.0,
  61361.0]}

In [50]:
# use this to manually shift L\R eye synchronization
eye_to_move = 'L'
block.move_eye_sync_manual(cols_to_move=[f'{eye_to_move}_eye_frame',f'{eye_to_move}_values'],step=-3)

In [51]:
block.full_sync_verification(with_arena=False)

In [52]:
block.export_manual_sync_df()

In [6]:
block.import_manual_sync_df()

In [7]:
block.read_dlc_data_much_faster(threshold_to_use=0.999, export=True)

c:\users\marks3\pycharmprojects\pythonproject3\venv\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 68627/68627 [00:21<00:00, 3201.52it/s]

 Done

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 68586/68586 [00:11<00:00, 5957.13it/s]

 Done
done
exporting to analysis folder

In [11]:
df_faster = block.le_df
df = pd.read_csv(r'Z:\Nimrod\experiments\PV_62\2023_06_21\block_073\analysis\ignoreMe\le_df.csv',index_col=0)
df

,Arena_TTL,L_eye_frame,L_values,R_values,center_x,center_y,width,height,phi,ellipse_size,ms_axis
0,535485.0,2.0,2.703165,0.437768,NaN,NaN,NaN,NaN,NaN,NaN,26774.25
1,535825.0,4.0,2.712409,0.438888,NaN,NaN,NaN,NaN,NaN,NaN,26791.25
2,536165.0,5.0,2.718606,0.438476,NaN,NaN,NaN,NaN,NaN,NaN,26808.25
3,536505.0,6.0,2.720012,0.439670,NaN,NaN,NaN,NaN,NaN,NaN,26825.25
4,536845.0,7.0,2.720783,0.440992,NaN,NaN,NaN,NaN,NaN,NaN,26842.25
...,...,...,...,...,...,...,...,...,...,...,...
66809,23234151.0,68223.0,0.630381,0.258354,NaN,NaN,NaN,NaN,NaN,NaN,1161707.55
66810,23234491.0,68224.0,0.630914,0.257536,NaN,NaN,NaN,NaN,NaN,NaN,1161724.55
66811,23234831.0,68225.0,0.630239,0.260299,NaN,NaN,NaN,NaN,NaN,NaN,1161741.55
66812,23235170.0,NaN,NaN,0.260789,NaN,NaN,NaN,NaN,NaN,NaN,1161758.50
66813,23235510.0,NaN,NaN,0.260315,NaN,NaN,NaN,NaN,NaN,NaN,1161775.50

In [19]:
timeline = block.final_sync_df[['L_eye_frame','Arena_TTL']]
data = block.le_ellipses = block.eye_tracking_analysis(block.le_csv, uncertainty_thr=0.998)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 68627/68627 [00:21<00:00, 3215.59it/s]

 Done

In [20]:
data

       center_x  center_y  width  height  phi  ellipse_size
0           NaN       NaN    NaN     NaN  NaN           NaN
1           NaN       NaN    NaN     NaN  NaN           NaN
2           NaN       NaN    NaN     NaN  NaN           NaN
3           NaN       NaN    NaN     NaN  NaN           NaN
4           NaN       NaN    NaN     NaN  NaN           NaN
...         ...       ...    ...     ...  ...           ...
68622       NaN       NaN    NaN     NaN  NaN           NaN
68623       NaN       NaN    NaN     NaN  NaN           NaN
68624       NaN       NaN    NaN     NaN  NaN           NaN
68625       NaN       NaN    NaN     NaN  NaN           NaN
68626       NaN       NaN    NaN     NaN  NaN           NaN

[68627 rows x 6 columns]

In [22]:
timeline.head()

   L_eye_frame  Arena_TTL
0          2.0   535485.0
1          4.0   535825.0
2          5.0   536165.0
3          6.0   536505.0
4          7.0   536845.0

In [24]:
# This is regev's solution for read_dlc_data:
a = timeline.merge(data, left_on='L_eye_frame', right_index=True, how='left')

In [22]:
def read_dlc_data(self, threshold_to_use=0.999, export=True):
    """
    Method to read and analyze the dlc files and fit ellipses to create the le/re ellipses attributes of the block
    """
    if (self.analysis_path / 're_df.csv').exists() and (self.analysis_path / 'le_df.csv').exists():
        self.re_df = pd.read_csv(self.analysis_path / 're_df.csv')
        self.re_df['ms_axis'] = self.ms_axis
        if 'Unnamed: 0' in self.re_df.columns:
            self.re_df = self.re_df.drop(axis=1, labels='Unnamed: 0')
        self.le_df = pd.read_csv(self.analysis_path / 'le_df.csv')
        self.le_df['ms_axis'] = self.ms_axis
        if 'Unnamed: 0' in self.le_df.columns:
            self.le_df = self.le_df.drop(axis=1, labels='Unnamed: 0')
        print('eye dataframes loaded from analysis folder')
        return

    pl = [i for i in os.listdir(self.l_e_path) if 'DLC' in i and '.csv' in i][0]
    self.le_csv = pd.read_csv(self.l_e_path / pl, header=1)
    pr = [i for i in os.listdir(self.r_e_path) if 'DLC' in i and '.csv' in i][0]
    self.re_csv = pd.read_csv(self.r_e_path / pr, header=1)
    self.le_ellipses = self.eye_tracking_analysis(self.le_csv, threshold_to_use)
    self.re_ellipses = self.eye_tracking_analysis(self.re_csv, threshold_to_use)

    self.le_df = self.final_sync_df.drop(labels=['Arena_frame', 'R_eye_frame'], axis=1)
    for column in list(self.le_ellipses.columns):
        self.le_df.insert(loc=len(self.le_df.columns), column=column, value=None)
    self.re_df = self.final_sync_df.drop(labels=['Arena_frame', 'L_eye_frame'], axis=1)
    for column in list(self.re_ellipses.columns):
        self.re_df.insert(loc=len(self.re_df.columns), column=column, value=None)
    print('populating le_df')
    for row in tqdm(self.le_df.index):
        try:
            frame = self.le_df['L_eye_frame'].loc[row]
            if frame == frame:
                frame = int(frame)
                self.le_df.loc[row, 'center_x'] = self.le_ellipses.iloc[frame]['center_x']
                self.le_df.loc[row, 'center_y'] = self.le_ellipses.iloc[frame]['center_y']
                self.le_df.loc[row, 'width'] = self.le_ellipses.width[frame]
                self.le_df.loc[row, 'height'] = self.le_ellipses.height[frame]
                self.le_df.loc[row, 'phi'] = self.le_ellipses.phi[frame]
                self.le_df.loc[row, 'ellipse_size'] = self.le_ellipses.ellipse_size[frame]
        except IndexError:
            print(f'Tried to match frame {row} but there is no frame with this index')
            continue
        # le_df.at[row, 'rostral_edge'] = le_ellipses.rostral_edge[frame]
        # le_df.at[row, 'caudal_edge'] = le_ellipses.caudal_edge[frame]
    print('populating re_video_sync_df')
    for row in tqdm(self.re_df.index):
        try:
            frame = self.re_df['R_eye_frame'].loc[row]
            if frame == frame:
                frame = int(frame)
                self.re_df.loc[row, 'center_x'] = self.re_ellipses.iloc[frame]['center_x']
                self.re_df.loc[row, 'center_y'] = self.re_ellipses.iloc[frame]['center_y']
                self.re_df.loc[row, 'width'] = self.re_ellipses.width[frame]
                self.re_df.loc[row, 'height'] = self.re_ellipses.height[frame]
                self.re_df.loc[row, 'phi'] = self.re_ellipses.phi[frame]
                self.re_df.loc[row, 'ellipse_size'] = self.re_ellipses.ellipse_size[frame]
        except IndexError:
            print(f'Tried to match frame {frame} but there is no frame with this index')
            continue
        # re_video_sync_df.at[row, 'rostral_edge'] = re_ellipses.rostral_edge[frame]
        # re_video_sync_df.at[row, 'caudal_edge'] = re_ellipses.caudal_edge[frame]
    self.re_df['ms_axis'] = self.ms_axis
    self.le_df['ms_axis'] = self.ms_axis
    print('done')

    if export:
        print('exporting to analysis folder')
        self.re_df.to_csv(self.analysis_path / 're_df.csv')
        self.le_df.to_csv(self.analysis_path / 'le_df.csv')

324882.0